@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-nohemi);
	--font-mono: var(--font-geist-mono);
	--font-serif: var(--font-instrument);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: transparent;
	color: var(--foreground);
	font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

html {
	background: #020204;
}
